/* .wrap {
	padding-left: 20px;
	padding-right: 20px;
} */

.sbp-options-page {
}

.sbp-options-page__title {
	font-size: 2rem;
}

.skinny-blocks_page_skinny-blocks-account .settings-header {
	width: calc(100% + 20px);
	position: relative;
	left: -20px;
	right: -20px;
}

.skinny-blocks_page_skinny-blocks-premium-settings .wrap,
.skinny-blocks_page_skinny-blocks-premium-branding .wrap {
	padding-left: 20px;
}
