// Front-end styles

.wp-block-skinny-blocks-latest-newsletter {
	&__item {
		@media (min-width: 768px) {
			display: flex;
		}

		&-image {
			margin-bottom: 15px;

			@media (min-width: 768px) {
				display: flex;
				margin-right: 30px;
				margin-bottom: 0;
			}

			img {
				width: 100%;
				max-width: 400px;
				height: 200px;
				object-fit: cover;

				@media (min-width: 768px) {
					width: 230px;
					height: 150px;
				}
			}
		}

		&-content {
			@media (min-width: 768px) {
				width: calc(100% - 230px);
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-top: 0 !important;
			}

			.wp-block-button {
				&__link {
					text-decoration: none !important;
				}
			}
		}
	}
}
