// Front-end styles

.wp-block-skinny-blocks-latest-newsletter {
	&__item {
		display: flex;

		&-image {
			width: 230px;
			height: 150px;
			background: gray;
			margin-right: 30px;

			img {
				width: 230px;
				height: 150px;
				object-fit: cover;
			}
		}

		&-content {
			width: calc(100% - 230px);

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-top: 0 !important;
			}

			.btn {
				margin-top: 10px;
				border: 0;
				color: #ffffff;
				font-weight: 400;
				line-height: 1;
				border-radius: 100px;
				padding: 12px 30px 15px 30px;
				text-decoration: none;
				display: inline-block;

				&--primary {
					color: #fff !important;
					background-color: #000;
				}
			}
		}
	}
}
