// Front-end styles
$color-red: rgb(206, 70, 70);

.wp-block-skinny-blocks-latest-newsletters {
	&__item {
		display: flex;
		margin-bottom: 60px;

		&-image {
			width: 230px;
			height: 150px;
			background: gray;

			img {
				width: 230px;
				height: 150px;
				object-fit: cover;
			}
		}

		&-content {
			width: calc(100% - 230px);
			margin-left: 30px;
		}
		&-title {
			margin-top: 0 !important;
		}
	}
}
